.cell {
    --background-light-color: #03062e;
    --background-dark-color: #222c30;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    font-weight: bold;
    /* color: var(--accent-color); */
    /* background: var(--primary-gradient); */
    /* background: black; */
    background: linear-gradient(to right, var(--background-light-color) 0%, var(--background-dark-color) 100%);
    border: var(--default-primary-border);
    /* border-radius: var(--default-border-radius); */
    border-radius: 50%;
    outline: none;
    box-shadow: var(--box-shadow);
  }
  
  .cell:active, .cell:hover, .cell.winner {
    cursor: pointer;
    color: var(--content-background-color);
    background: var(--primary-highlight-gradient);
  }
  
  .cell-content {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width var(--selection-animation-duration), height var(--selection-animation-duration);
  }
  
  .cell-content.populated {
    width: 12vmin;
    height: 12vmin;
  }

  .redDiv {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50%;
  }

  .blackDiv {
    width: 100%;
    height: 100%;
    background: rgb(95, 90, 90);
    border-radius: 50%;
  }